.ng-leave{
  opacity: 1;
  transition-duration: 500ms;
 -webkit-transition-duration: 500ms;
}


.ng-leave-active{
  opacity: 0;
}

.ng-enter{
  opacity: 0;
  transition-duration: 500ms;
 -webkit-transition-duration: 500ms;
}

.ng-enter-active{
  opacity: 1;
}

/*.view.ng-enter,
.view.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}*/
