/*.menu-show-setup, .menu-hide-setup {
  transition:all 0.5s ease-out;
  overflow:hidden
}

.menu-show-setup {
  max-height:0;
}
.menu-show-setup.menu-show-start {
  max-height:200px;
}

.menu-hide-setup {
  max-height:200px;
}
.menu-hide-setup.menu-hide-start {
  max-height:0;
}*/
