<div class="well" id="about">

  <p class="content">
    Feed My Starving Children (FMSC), is a non-profit organization whose vision is to eliminate starvation in children
    throughout the world. Their approach is to have volunteers hand-pack meals specially formulated for malnourished
    children, and send them to partners around the world where they're used to operate orphanages, schools, clinics,
    and feeding programs to break the cycle of poverty. FMSC food has reached more than 70 countries. FMSC experienced an
    average annual growth rate of 48% in the past decade. FMSC meals costs only 22 cents each, and 92% of total donations
    go directly on meal production.
    <br>
    <br>
    <b>
      If you would like to donate, click on the "buy pixels" button. Each pixel is 22 cents, the cost of one meal.
      Each pixel that is bought will reveal more of the secret photo!
    </b>
    <br>
    <br>
  </p>
  <sub>*All proceeds will go to Feed My Starving Children.</sub>
  <br>
</div>
