<div class="well container" id="buyPixels">

    <div class="row">


      <div class="col-sm-2">

      </div>
      <div class="col-sm-8">
          <fieldset>
              <legend>Payment ($0.22 per pixel)</legend>

              <div class="row" style="margin-top:12px;">
                <div class="alert alert-warning">
                  <h4><strong>Security notice: </strong></h4>
                  <p>
                    PLEASE don't enter real information! 
                    This application is for demo purposes only!
                    Please falsify information to make a demo purchase.
                    This means there will be <strong>NO</strong> actual purchases made. Also, credit card information will <strong>NOT</strong> be stored by feedmystarvingpixels.com.
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="control-group col-lg-4 col-md-6 col-sm-12">
                    <label label-default="" class="control-label">Card Holder's Name</label>
                    <div class="controls">
                      <input ng-model="card.name"
                      type="text"
                      class="form-control"
                      name="card-holder-name"
                      id="card-holder-name"
                      title="First and last name"
                      placeholder="Card Holder's Full Name">
                    </div>
                </div>
                <div class="control-group col-lg-8 col-md-6 col-sm-12">
                    <label label-default="" class="control-label">Card Number</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-12">
                              <input ng-model="card.number"
                              type="text"
                              class="form-control"
                              name="card-number"
                              id="card-number"
                              autocomplete="off"
                              placeholder="Debit/Credit Card Number">
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row">

                <div class="control-group col-lg-8 col-md-8 col-sm-12">

                    <div class="controls">
                        <!-- <div class="row"> -->
                            <div class="col-sm-6">
                              <label label-default="" for="expiry-month" class="control-label">Card Expiry Month</label>
                                <select id="expiry-month" ng-model="card.month" class="form-control" name="expiry-month">

                                    <option value="01">January</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                              <label label-default="" for="expiry-year" class="control-label">Card Expiry Year</label>
                                <select ng-model="card.year" id="expiry-year" class="form-control" name="expiry-year">
                                    <option value="14">2014</option>
                                    <option value="15">2015</option>
                                    <option value="16">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                </select>
                            </div>
                          <!-- </div> -->
                        </div>
                    </div>

                    <div class="control-group col-lg-4 col-md-4 col-sm-12">
                        <label label-default="" class="control-label">Card CVV</label>
                        <div class="controls">
                            <input ng-model="card.cvv"
                            type="text"
                            class="form-control"
                            name="cvv"
                            id="cvv"
                            placeholder="3-Digit Security Code"
                            autocomplete="off"
                            title="Three digits at back of your card"
                            >
                        </div>
                    </div>
                  </div>
              </div>
            </div>


            <div style="margin-top:12px;" class="row">
              <div class="col-sm-2">

              </div>
              <div class="col-sm-6">
                  <label class="control-label" for="message">Your Message</label>
                  <input type="text" class="form-control" ng-model="message" name="message" id="message" placeholder="Thank you for donating! :)">
              </div>
              <div class="col-sm-2">
                <div class="form-group" id="amount-form-group">
                  <label class="control-label" for="input-amount">Pixel Amount</label>
                  <input type="number" class="form-control" min="10" id="input-amount" ng-model="amount" placeholder="amount here">
                  <h5>(min 10, max 1000)</h5>

                </div>
              </div>
              <div class="col-sm-2">
              </div>
            </div>

            <div class="row">

              <div class="col-sm-2">

              </div>
              <div class="col-sm-8">
                <h1 id="equation" style="text-align:center; font-size:46pt;"><strong>{{buyEquation}}<strong></h1>
              </div>

            </div>

            <div class="row">
              <div class="control-group">
                <div class="controls">
                  <button id="purchase-btn"
                  data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order"
                  ng-click="buy()"
                  style="font-size:18pt; padding: 0 50px 0 50px;"
                  type="button"
                  class="btn btn-success start">
                    Pay Now
                  </button>

                </div>

              </div>

            </div>

        </fieldset>
      </div>

</div>
