<div id="home" class="photo">

  <div class="page-header">
      <div class="well">
        <h1>Feed My Starving Pixels!</h1>
      </div>
  </div>

  <div class="thumnail jumbotron">
    <img src="img/FMSClogo.png" style="width:298px;height:142px;"><br />
  </div>
  <p></p>

  <!-- TODO  add my onClick rules-->



    <!-- <button class="btn" ng-click="logout()">Logout</button>
    <h3> Hello {{userName}}    </h3> -->

  <button class="btn btn-lg btn-primary" ng-click="showAbout()">About</button>
  <button class="btn btn-lg btn-primary" ng-click="showBuy()">Buy Pixels</button><p>
    <div style="display:inline; margin-botton:10px;"><a class="btn btn-primary btn-lg" ng-show="!isLoggedIn" ui-sref="login" >Login / Register</a></div>
    <div style="display:inline; margin-bottom:10px;" ng-show="isLoggedIn" class="dropdown" >
      <button style="white-space:normal;" class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Welcome, {{userName}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Edit Account</a></li>
        <li role="separator" class="divider"></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>


  <div style="margin-top:10px;">
    <div id="about-slider">
      <about-slide></about-slide>
    </div>

    <div id="buy-slider">
      <buy-slide></buy-slide>
    </div>
  </div>


  <a id="image-tooltip" data-placement="right" title="LOADING..." data-toggle="popover"></a>
    <img id="releasable-image" src="https://localhost:3000/api/img">

  <div style="margin:12px;" align="right">
    <a target="_blank" href="https://www.facebook.com/ISUFMSC"><img src="img/facebook.png" style="height:25px;"></a>
    <a target="_blank" href="https://twitter.com/fmsc_org?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="img/twitter.png" style="height:25px;"></a>
    <a target="_blank" href="https://www.linkedin.com/company/feed-my-starving-children"><img src="img/linkedin.png" style="height:25px;"></a>
    <a target="_blank" href="https://plus.google.com/+feedmystarvingchildren/videos"><img src="img/googleplus.png" style="height:25px;"></a>
  </div>
</div>
