<div ng-show="UserFactory.wasGoingToDonate" class="container page-header">
	<h1 style="color:white;font-size:24pt;">Please sign in to continue...</h1>
</div>
<div id="login" style="margin-top:26px; padding:26px;" class="login_page">
	<!-- <button ui-sref="home" style="margin:6px; margin-top-26px;display:block;margin-top:12px; font-size:16pt;" type="button" class="btn btn-default btn-large" aria-label="Left Align">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Back to Home Page
	</button> -->


<form ng-enter="login()">
	<div class="form">

		<div class="loginForm">

			<div class="thumbnail well">
				<img src="img/FMSClogo.png"><p>
			</div>
			<h2>Welcome! Please login.</h2>
		        Email:<br><input id="emailID" type="email" ng-model="email" required><br>
		        Password:<br><input id="passwordID" type="password" ng-model="password" required><br>

						<div ng-show="errorMessage.length > 0" class="alert alert-danger">
					  	<p>{{errorMessage}}<p>
						</div>
				<button id="login-btn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Logging In..." class="btn btn-lg btn-primary btn-block" ng-click="login()">Login</button><br><br>

				Not yet a member?<br>
				Click <a ui-sref="register">here</a> to sign up.</br>

		</div>

	</div>

</form>
</div>
