<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        id="hamburger"
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <!-- <span class="sr-only">Toggle navigation</span> -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"
        ><img
          style="height:55px; width:auto; margin:12px; margin-right:24px;"
          src="img/FMSC.png"
      /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="navbar-tabs" class="nav navbar-nav">
        <li id="home-tab" class="active"><a ui-sref="home">Home</a></li>
        <li id="about-tab"><a ui-sref="about">About</a></li>
        <li id="donate-tab"><a ng-click="doDonate()">Donate</a></li>
        <li id="faqs-tab"><a ui-sref="faqs">FAQs</a></li>
      </ul>

      <div class="nav navbar-nav navbar-right hidden-md hidden-sm">
        <div id="total" class="navbar-header" style="padding-top: 8px;">
          <div style="padding:0px 8px 0px 8px; margin:0;" class="well">
            <h4>
              <strong>Total Pixels Bought:</strong>
              <span class="label label-default"
                >{{pixelsBought}} / 1,000,000</span
              >
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
