<!--
<div id="root-header" class="header">
  <div class="container-fluid">
    <div class="page-header">One Million Meals Project</div>
  </div>
</div> -->




  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button  id="hamburger"  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <!-- <span class="sr-only">Toggle navigation</span> -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#"><img style="height:55px; width:auto; margin:12px; margin-right:24px;" src="img/FMSC.png" /></a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="navbar-tabs" class="nav navbar-nav">
          <li id="home-tab" class="active"><a ui-sref="home">Home</a></li>
          <li id="about-tab"><a ui-sref="about">About</a></li>
          <li id="donate-tab"><a ng-click="doDonate()">Donate</a></li>
          <li id="faqs-tab"><a ui-sref="faqs">FAQs</a></li>
        </ul>

        <div class="nav navbar-nav navbar-right hidden-md hidden-sm">
          <div id="total" class="navbar-header" style="padding-top: 8px;" >
            <div style="padding:0px 8px 0px 8px; margin:0;" class="well">
              <h4><strong>Total Pixels Bought:</strong>  <span class="label label-default">{{pixelsBought}} / 1,000,000</span></h4>
            </div>
          </div>

          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li> -->
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <!-- </div>
  </div> -->

  <!--
  <div class="navdiv">
    <div class="nav_buttons">
        <ul class="nav nav-pills" id="navbar">
          <li><a ng-click="showAbout()">About</a></li>
          <li><a ng-click="showDonate()">Donate</a></li>
      </ul>
    </div>
    <div><a class="btn btn-info btn-lg" ng-show="!isLoggedIn" ui-sref="login">Login / Register</a></div>
    <div ng-show="isLoggedIn" class="dropdown" >
      <button style="white-space:normal;" class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Welcome, {{userName}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div> -->

  <!-- <div id="about-slider">
    <about-slide></about-slide>
  </div>

  <div id="buy-slider">
    <buy-slide></buy-slide>
  </div> -->
