<div class="login_page">
	<div class="form">
		<form name="loginForm" action="home.html">
		<img src="img/FMSClogo.png"><p>
		<h2>Welcome! Please sign up.</h2>
			First Name:<br><input id="firstNameID" type="text"><br>
			Last Name:<br><input id="lastNameID" type="text"><br>
			Email:<br><input id="emailID" type="text"><br>
	        Password:<br><input id="passwordID" type="password"><br>
			Confirm Password:<br><input id="confirmPasswordID" type="password"><br>
			<button>Sign Up</button><br><br>
			Already a member?<br>
			Click <a href="#/">here</a> to login.</br>
		</form>
	</div>
</div>
