
<div>
  <div id="content" class="center_content">
    <form method="post">

          <label>First name:</label><br /><input type="text" class="text-input" /><br /><br />
          <label>Last name:</label><br /><input  type="text" class="text-input" /><br /><br />
          <label>Email:</label><br /><input type="text" class="text-input" /><br /><br />
          <label> Username:</label><br /><input type="text" class="text-input" /><br /><br />
          <label>Password:</label><br /><input type="password"  class="text-input" /><br /><br />
          <label>Confirm password:</label><br /><input  type="password" class="text-input" /><br /><br />
          <input type="submit" value="Register" class="button" />
      </form>
  </div>

  <div id="bottom">
      <h3>Already a member?<br />Click
      <a href="#/">here</a> to log in.</h3>
  </div>
</div>
