<div id="register" style="margin-top:26px; padding:26px;" class="login_page">

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register-success-modal">Large modal</button> -->
<div id="register-success-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><strong>Successfully Registered!</strong></h2>
      </div>
      <div class="modal-body">
        <div class="alert alert-success">
        	<p>
        		<strong>You have successfully registered! You may now login on the home page.</strong>
        	</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">Sweet!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	<!-- <div id="register-success-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      ...
	    </div>
	  </div>
	</div> -->


	<div class="form">
		<form name="loginForm">
			<div class="thumbnail">
				<img src="img/FMSClogo.png">
			</div>
			<h2>Welcome! Please sign up.</h2>
				First Name:<br>
				<input id="firstNameID" type="text" ng-model="user.firstname"><br>
				Last Name:<br>
				<input id="lastNameID" type="text" ng-model="user.lastname"><br>
				Email:<br>
				<input id="emailID" type="text" ng-model="user.email"><br>
		        Password:<br><input id="passwordID" type="password" ng-model="user.password"><br>
				Confirm Password:<br>
				<input  id="confirmPasswordID" type="password" ng-model="user.confirmPassword"><br>

				<div ng-show="errorMessage.length > 0" class="alert alert-danger">
					<p>{{errorMessage}}<p>
				</div>
				<button ng-click="doRegister()" class="btn btn-lg btn-primary btn-block">Sign Up</button><br><br>

				Already a member?<br>
				Click <a ui-sref="login">here</a> to login.</br>
		</form>

		<button ui-sref="home" style="margin:6px;display:block;margin-top:12px" type="button" class="btn btn-default btn-large" aria-label="Left Align">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Back to Home Page
		</button>
	</div>

</div>
